# Webex Bot access tokens
WEBEX_BOT_ACCESS_TOKEN=replace_with_your_bot_access_token

# Webex Room IDs
WEBEX_ROOM_ID_AGING_TICKETS=replace_with_your_room_id
WEBEX_ROOM_ID_VINAY_TEST_SPACE=replace_with_your_room_id
WEBEX_ROOM_ID_SOC_SHIFT_UPDATES=replace_with_your_room_id
WEBEX_ROOM_ID_EPP_TAGGING=replace_with_your_room_id
WEBEX_ROOM_ID_METRICS=replace_with_your_room_id
WEBEX_ROOM_ID_THREATCON_COLLAB=replace_with_your_room_id
WEBEX_ROOM_ID_GOSC_T2=replace_with_your_room_id

# XSOAR API configuration
XSOAR_API_BASE_URL=replace_with_your_xsoar_api_base_url
XSOAR_AUTH_TOKEN=replace_with_your_xsoar_auth_token
XSOAR_AUTH_ID=replace_with_your_xsoar_auth_id

# Azure DevOps configuration
AZDO_ORGANIZATION=replace_with_your_organization
AZDO_DE_PROJECT=replace_with_your_de_project
AZDO_RE_PROJECT=replace_with_your_re_project
AZDO_PERSONAL_ACCESS_TOKEN=replace_with_your_personal_access_token

# CrowdStrike API credentials
CROWD_STRIKE_RO_CLIENT_ID=replace_with_your_client_id
CROWD_STRIKE_RO_CLIENT_SECRET=replace_with_your_client_secret
CROWD_STRIKE_HOST_WRITE_CLIENT_ID=replace_with_your_client_id
CROWD_STRIKE_HOST_WRITE_CLIENT_SECRET=replace_with_your_client_secret
CROWD_STRIKE_RTR_CLIENT_ID=replace_with_your_client_id
CROWD_STRIKE_RTR_CLIENT_SECRET=replace_with_your_client_secret

# ServiceNow credentials
SNOW_CLIENT_KEY=replace_with_your_client_key
SNOW_CLIENT_SECRET=replace_with_your_client_secret
SNOW_FUNCTIONAL_ACCOUNT_ID=replace_with_your_account_id
SNOW_FUNCTIONAL_ACCOUNT_PASSWORD=replace_with_your_password
SNOW_BASE_URL=replace_with_your_base_url

# Miscellaneous
TICKET_TYPE_PREFIX=replace_with_your_ticket_prefix
APPROVED_DOMAINS=replace_with_your_approved_domains
APPROVED_ROOMS=replace_with_your_approved_rooms
SECOPS_STAFFING_FILENAME=replace_with_your_filename
PHISH_FORT_API_KEY=replace_with_your_api_key
PHISH_FORT_ROOM_ID=replace_with_your_room_id