[Unit]
Description=Logdy - Barnacles Logs
After=network-online.target ir-barnacles.service
Wants=network-online.target

[Service]
Type=simple
User=vinay
Group=vinay
WorkingDirectory=/home/vinay/pub/IR
ExecStart=/bin/bash -c 'tail -f /home/vinay/pub/IR/logs/barnacles.log | /home/vinay/bin/logdy stdin --ui-ip 127.0.0.1 -p 8036'
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ir-logdy-barnacles

[Install]
WantedBy=multi-user.target
