# Git Configuration
# Copy to: ~/.gitconfig

[user]
    name = vvobbilichetty
    email = vinayvobbilichetty11@gmail.com
[core]
    autocrlf = input
[credential "https://github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
