{% extends 'base_layout.html' %}
{% set page_title_text = 'Reset password' %}
{% from 'auth/_form_styles.html' import auth_styles %}

{% block extra_css %}{{ auth_styles() }}{% endblock %}

{% block content %}
<div class="auth-shell">
    <h1>Choose a new password</h1>
    {% if ok %}
    <div class="auth-ok">Password reset. You are signed in.</div>
    <a class="primary" href="/account" style="display:block; text-align:center; text-decoration:none; margin-top:18px;">Continue to account</a>
    {% else %}
    <form method="POST" action="/reset-password" autocomplete="off">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="password">New password</label>
        <input type="password" id="password" name="password" required minlength="6" autocomplete="new-password">
        <label for="password2">Confirm password</label>
        <input type="password" id="password2" name="password2" required minlength="6" autocomplete="new-password">
        {% if error %}<div class="auth-err">{{ error }}</div>{% endif %}
        <button class="primary" type="submit">Set password</button>
    </form>
    {% endif %}
</div>
{% endblock %}
