[Unit]
Description=IR Web Server (Flask Dashboard)
After=network.target

[Service]
Type=simple
User=vinay
WorkingDirectory=/opt/incident-response
Environment="PATH=/opt/incident-response/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="SKIP_POKEDEX_WARMUP=true"
ExecStart=/opt/incident-response/.venv/bin/python /opt/incident-response/web/web_server.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
