<form action="/submit-msoc-form" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="details">Details:</label><br>
    <input type="text" id="details" name="details"><br><br>

    <label for="severity">Severity:</label><br>
    <input type="text" id="severity" name="severity"><br><br>

    <label for="site">Site:</label><br>
    <input type="text" id="site" name="site"><br><br>

    <label for="comm_server">Comm Server:</label><br>
    <input type="text" id="comm_server" name="comm_server"><br><br>

    <label for="tech_onsite">Tech Onsite:</label><br>
    <input type="text" id="tech_onsite" name="tech_onsite"><br><br>

    <input type="submit" value="Submit">
</form>