<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnR Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slide-show.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/metrics-dashboard-icon.ico') }}" type="image/x-icon">
</head>
<body>
<div class="slider-container">
    <div class="slides">
        {% for filename in image_files %}
        <figure>
            <img src="{{ url_for('static', filename=filename) }}" alt="{{ filename }}">
        </figure>
        {% endfor %}
    </div>
</div>
<img src="{{ url_for('static', filename='icons/circle-left-solid.svg') }}" alt="Left Arrow" class="arrow left" onclick="moveSlide(-1)">
<img src="{{ url_for('static', filename='icons/circle-right-solid.svg') }}" alt="Right Arrow" class="arrow right" onclick="moveSlide(1)">
<div class="nav-buttons">
    {% for image_file in image_files %}
    <button onclick="goToSlide({{ loop.index0 }})" class="nav-dot"></button>
    {% endfor %}
</div>
<img id="pausePlayButton" onclick="toggleSlideshow()" src="{{ url_for('static', filename='icons/pause-solid.svg') }}" alt="Pause">

<audio id="music" src="{{ url_for('static', filename='audio/inspirational-uplifting-calm-piano-254764.mp3') }}" loop muted></audio>

<div class="audio-controls">
    <button onclick="toggleAudio()">
        <img src="{{ url_for('static', filename='icons/volume-xmark-solid.svg') }}" alt="Unmute Icon" class="music-icon" id="music-icon">
    </button>
</div>

</body>
<script src="{{ url_for('static', filename='js/slide-show.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
</html>