<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speak Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/speak_up.css') }}">
</head>
<body>
<div class="form-container">
    <h1>Report a CyberSecurity Incident</h1>

    <form id="speakUpForm" method="post" action="/submit-speak-up-form">
        <div class="form-group">
            <div class="date-label-container">
                <label>1. Date Occurred<span class="required">*</span></label>
                <label>
                    <input type="date" id="dateOccurred" name="dateOccurred" max="" required>
                </label>
            </div>
            <div class="helper-text">Estimated date for when incident occurred</div>
        </div>

        <div class="form-group">
            <label>2. Issue Type<span class="required">*</span></label>
            <div class="radio-group">
                <div class="radio-option">
                    <input type="radio" id="communication" name="issueType" value="Suspicious Communication: Email, Text Message, Phone Call, etc." required>
                    <label for="communication">Suspicious Communication: Email, Text Message, Phone Call, etc.</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="activity" name="issueType" value="Suspicious Activity on Computer">
                    <label for="activity">Suspicious Activity on Computer</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="social" name="issueType" value="Suspicious Social Media Profile">
                    <label for="social">Suspicious Social Media Profile</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="website" name="issueType" value="Suspicious Website">
                    <label for="website">Suspicious Website</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="stolen" name="issueType" value="Lost/Stolen Computer">
                    <label for="stolen">Lost/Stolen Computer</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="other" name="issueType" value="Other">
                    <label for="other">Other</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>3. Description<span class="required">*</span></label>
            <div class="helper-text">Please provide all relevant details of the report incident</div>
            <label>
                <textarea id="description" name="description" required></textarea>
            </label>
        </div>

        <button type="submit">Submit Report</button>
    </form>
    <!-- The Modal -->
    <div id="responseModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="response">
                <!-- Response will be loaded here -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/speak_up.js') }}"></script>
</div>
</body>
</html>
