<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Travel Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upcoming_travel.css') }}">
</head>
<body>
<div class="container">
    <h1>Upcoming-Travel Records</h1>

    <section>
        <table>
            <thead>
            <tr>
                <th>Traveller Email Address</th>
                <th>Work Location</th>
                <th>Vacation Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Working During Vacation?</th>
                <th>Comments</th>
                <th>Submitted At</th>
                <th>Submitted By IP Address</th>
            </tr>
            </thead>
            <tbody>
            {% for record in travel_records %}
            <tr>
                <td>{{ record.traveller_email_address }}</td>
                <td>{{ record.work_location }}</td>
                <td>{{ record.vacation_location }}</td>
                <td>{{ record.vacation_start_date }}</td>
                <td>{{ record.vacation_end_date }}</td>
                <td>{{ "Yes" if record.will_work_during_vacation else "No" }}</td>
                <td title="{{ record.comments }}"><span class="truncate-text">{{ record.comments }}</span></td>
                <td>{{ record.submitted_at }}</td>
                <td>{{ record.submitted_by_ip_address }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

</div>
</body>
</html>